<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Synopsis:</b>
  <%= @movie.synopsis %>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>

<%= render @reviews %>

<%= link_to "Add Review", new_movie_review_path(@movie) %>
